html,
body {
  margin: 0;
  font-family: 'Dangrek', cursive;
}

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  background-color: #a840ff;
  height: 80px;
}

.wrap {
  padding: 0 40px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 200%;
  color: rgb(238, 238, 18);
}

.menu {
  display: flex;
  list-style: none;
}

.menu_item {
  position: relative;
  margin: 0 20px;
  font-size: 120%;
}

.menu_item::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: -5px;
  left: -20px;
  margin: 0 20px;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.menu_item:hover::before {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.menu_item a:hover {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgb(238, 238, 18);
}



/*  
html::before,
body::before,
header::before,
footer::before,
main::before {
  color: #7fc1ff;
}

main,
header,
footer {
  background-color: #f3faff;
  border: 2px solid #7fc1ff;
}

nav,
section,
article,
aside {
  background-color: #f9f7ff;
  border: 2px solid #9779ec;
}

nav::before,
section::before,
article::before,
aside::before {
  color: #9779ec;
}

h1 {
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #ff994f;
}

h1::before {
  content: "h1";
  color: #ff994f;
}

p {
  background-color: #ffffff;
  border: 2px solid #f36dff;
}

p::before {
  color: #f36dff;
  content: "p";
}

* {
  position: relative;
  padding: 25px 25px 20px;
  margin: 0;
  border-radius: 4px;
}

*:not(:last-child) {
  margin-bottom: 20px;
}

*::before {
  position: absolute;
  top: 8px;
  left: 10px;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.04em;
}

html::before {
  content: "html";
}

body::before {
  content: "body";
}

main::before {
  content: "main";
}

header::before {
  content: "header";
}

footer::before {
  content: "footer";
}

section::before {
  content: "section";
}

article::before {
  content: "article";
}

aside::before {
  content: "aside";
}

nav::before {
  content: "nav";
}

*/