html,
body {
  margin: 0;
  font-family: 'Dangrek', cursive;
}

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header {
  background-color: #a840ff;
  height: 80px;
}

.wrap {
  padding: 0 40px;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 200%;
  color: rgb(238, 238, 18);
}

.menu {
  display: flex;
  list-style: none;
}

.menu_item {
  position: relative;
  margin: 0 20px;
  font-size: 120%;
}

a {
  text-decoration: none;
  color: rgb(238, 238, 18);
}

.menu_item a:hover {
  color: black;
}

/* MAIN */

main {
  padding: 20px 40px;
  background-color: #c6a6e1;
}

h1 {
  text-align: center;
  color: black;
}

.intro_wrap {
  padding: 20px 0;
  display: flex;
}

.intro_text {
  line-height: 2;
  margin-top: 40px;
  white-space: inherit;
  color: black;
}

.intro_image {
  width: 50%;
  margin-left: 40px;
}

.preview-info {
  width: 50%;
}

.about_heroes {
  padding: 20px 0;
}

.about_heroes_wrap {
  display: flex;
  flex-direction: column;
}

.about_heroes_title {
  text-align: left;
  color: rgb(238, 238, 18);
  font-size: 150%;
  /* margin-bottom: 50px; */
}

/* FOOTER */

.footer {
  background-color: #a840ff;
  padding: 30px;
}

.footer ul {
  list-style: none;
}